
.container.page {
  margin-top: 1em;
  margin-bottom: 2em;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}


.row-striped:nth-of-type(even){
  background-color: #efefef;
}

.row-striped:nth-of-type(odd){
  background-color: #ffffff;
}

/* 
 * =================================================
 * Fix calendar icon truncating date input display 
 * on Chrome
 * */

/* For all viewports 
 * make the icon more like its real size
 * */
.inline-date::-webkit-calendar-picker-indicator {
  bottom: 0;
  cursor: pointer;
  height: auto;
  left: auto;
  position: absolute;
  right: 0;
  top: 10%;
  width: 1.2rem;
  }

/* space is tight at some viewports:
 * (Described next to queries)
 *
 * * To display both the picker & the date, 
 *   remove the date's padding, 
 *     moving it left
 *   give the picker a negative right offset
 *    moving it right
 *   reduce the picker's size a bit
 * */
@media (max-width: 424.98px), /* Smaller than "large phone */
       (min-width: 768px) and (max-width: 991.98px) { /* Exactly bootstraps "md" */
  .inline-date {
    padding-left: 0;
    z-index: -2;
  }


  .inline-date::-webkit-calendar-picker-indicator {
    justify-content: center;
    top: 20%;
    /* bottom: 0.25rem; */
    height: 0.875rem;
    z-index: 0;
    right: -10px;
  }
}

