
<h3>Bulk Import</h3>
<p>
  Here you can upload a CSV file that contains many posts you want to
  schedule. You can also edit posts you have scheduled previously if they
  have not been submitted yet.
</p>

<div class="alert alert-warning">
  The method for bulk-editing posts has been changed, see <i>Export and
  Edit</i> below. The old editing behavior caused awkward limitations (post
  title/subrredit had to be unique when bulk-importing/editing, even though
  you could create and edit exact reposts manually in the web interface).
  The new method fixes that.
  </br>
  To avoid accidents, importing the same CSV twice (which would now lead to
  duplicate posts with identical post time) is prevented. However, attempting
  to use the old editing method could still result in accidentally scheduling
  new posts instead, so please check out the new instructions below.
  </br>
  If you find bugs or want to share your thoughts on this change, please
  get in touch!
</div>

<hr>

<h4>Template</h4>
<p>
  A template spreadsheet is provided that shows the format for the CSV file
  and includes column formatters for the date and time formats. Modify this
  spreadsheet and use the <i>Save Copy</i> or <i>Export</i> feature to save
  a CSV file with UTF-8 encoding.
</p>
<p class="text-center">
  <a href="/template.ods" target="_blank" class="btn btn-primary">
    <span class="fa fa-download"></span>
    Download Template
  </a>
</p>

<hr>

<h4>Export and Edit</h4>
<p>
  Below you can download all posts you have currently scheduled. Edit, save
  and import this CSV file as above to update or schedule posts.
  For each row in the CSV:
  <ul>
    <li>
      If you leave the <i>id</i> value untouched, the corresponding scheduled
      post will be updated according to your edits.
    </li>
    <li>
      Removing the <i>id</i> value treats the row as a new post to schedule.
    </li>
  </ul>
  To be clear: <strong>Every row without an ID now schedules a new post.</strong>
  Please check your CSVs before importing to make sure this does what you want.
</p>
<p class="text-center">
  <a href="/export" target="_blank" class="btn btn-primary">
    <span class="fas fa-file-csv"></span>
    Export Scheduled Posts
  </a>
</p>

<hr>

<h4>Microsoft Excel is Trash</h4>
<p>
  For whatever reason, Excel is very bad at exporting CSV documents. Often
  these documents have two problems:
  
  <ul>
    <li>
      Excel often exports invalid characters at the beginning of the document
      called the UTF-8 Byte Order Mark (BOM) which makes the file not a valid
      CSV file.
      (<a href="https://en.wikipedia.org/wiki/Byte_order_mark" target="_blank">More info</a>)
    </li>
    <li>
      Excel often fails to properly encode quotes, commas, newlines and other
      special characters which makes the file not a valid CSV file.
    </li>
  </ul>
  
  For these reasons you may want to use Google Docs or Open Office for creating
  valid CSV files.
</p>

<hr>

<h4>CSV Columns</h4>
<p>
  Columns names are case-sensitive and must be provided unless they are noted as
  optional. Their order in the CSV doesn't matter.
</p>
<table class="table table-striped table-bordered">
<thead>
  <tr>
    <th>Column</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <tr>
    <th>id</th>
    <td>
      Cronnit-internal ID of the post.
    </td>
  </tr>
  <tr>
    <th>title</th>
    <td>Title of the post</td>
  </tr>
  <tr>
    <th>body</th>
    <td>Text of the post or a URL for links</td>
  </tr>
  <tr>
    <th>subreddit</th>
    <td>Which subreddit to post to</td>
  </tr>
  <tr>
    <th>date</th>
    <td>Date of when to schedule the post</td>
  </tr>
  <tr>
    <th>time</th>
    <td>Time of day when to schedule the post</td>
  </tr>
  <tr>
    <th>timezone</th>
    <td>
      A timezone like <code>"PST"</code> or <code>"America/Los_Angeles"</code>
      or numeric UTC offset like <code>"GMT-800"</code>. See
      <a href="/timezones">this list</a> for reference.
    </td>
  </tr>
  <tr>
    <th>nsfw</th>
    <td>
      (Optional) Mark the post as Not Safe For Work (NSFW). Specify a value of
      <code>1</code> to mark the post as nsfw, or a value of <code>0</code> for
      a regular post.
      (default: <code>0</code>)
    </td>
  </tr>
  <tr>
    <th>sendreplies</th>
    <td>
      (Optional) Have replies to the post go to your Reddit inbox. Specify a
      value of <code>0</code> to disable or a value of <code>1</code> to enable.
      (default: <code>1</code>)
    </td>
  </tr>
  <tr>
    <th>delete</th>
    <td>
      (Optional) Hide this post from the dashboard and do not submit it to
      reddit at the scheduled time. You can use this for bulk-deleting scheduled
      posts when needed. Note: This does not delete already-submitted posts from
      reddit. Specify a value of <code>1</code> to delete or a value of
      <code>0</code> to not delete (or undelete) a post.
      (default: <code>0</code>)
    </td>
  </tr>
</tbody>
</table>

<hr>

<h4>Upload</h4>

{% if error %}
<div class="alert alert-danger">
  {{ error }}
</div>
{% endif %}

<div class="alert alert-warning">
  Misusing this feature to submit the same post many times or flood Reddit
  <strong>will result in a permanent ban</strong>. All accounts that use this
  feature are subject to review.
</div>

<form method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="csv-file">CSV File</label>
    <div class="form-control">
      <input type="file" name="file" id="csv-file">
    </div>
  </div>

  <div class="form-group form-check">
    <input id="csv-check-only" class="form-check-input" type="checkbox" name="checkOnly" value="1">
    <label class="form-check-label" for="csv-check-only">
      Only check CSV file don't actually publish
    </label>
  </div>

  <div class="alert alert-warning">
    The method for bulk-editing scheduled posts has been changed recently, so please
    make sure you have read the updated instructions above!
  </div>

  <button class="btn btn-primary" type="submit" name="submit" value="1">
    <i class="fa fa-upload"></i>
    Upload
  </button>
</form>
